body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  padding:15px;
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap:50px;
}

.customer-details{
  padding:10px,75px,10px,75px;
}

.search{
  padding-left:100px;
  margin-right: 20%;
  width:80%;
}
.loginform{
  position: fixed;
  height: 800px;
  width:40%;
  align-items: center;
  justify-content: center;
  padding-left:30%;
  padding-right:30%;
  border:solid 2px grey;
  border-radius: 10px;
}